@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 4.5rem;
    --view-height: calc(100dvh - var(--header-height));

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --primary: 217.2 91% 39%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 16% 47%;
    --input: 217.2 32.6% 17.5%;
    --ring: 215 16% 47%;

    --radius: 0.5rem;

    scroll-behavior: smooth;
    scroll-padding: var(--header-height) 0 0 0;
  }
}

@layer base {
  * {
    @apply scroll-smooth border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a,
  button {
    @apply outline-offset-1 outline-ring;
  }
}
